body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


header {
    background-color: #5b95b1;
    width: 100%;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-nav {
    padding: 20px;

}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 200px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 10px;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 25px;
    gap: 100px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #61ccf9;
}

header .search-bar {
    margin-top: 10px;
    width: 23%;
    display: flex;
    margin-right: 100px;
    position: absolute;
    right: 0;
    width: auto;
    
}

.search-bar input[type="text"] {
    margin-left: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0671a6;
    color: white;
    padding: 15px;
    width: auto;
}

footer .nav-arrow, footer .home-icon {
    background-color: #003366;
    color: white;
    border: none;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
}


footer .nav-arrow:hover, footer .home-icon:hover {
    background-color: #00264d;
}

footer .nav-arrows-container {
    display: flex; /* Group arrows in a row */
}

.footer-text {
    text-align: center;
}

footer .nav-arrow:hover, footer .home-icon:hover {
    background-color: #00264d;
}




@media (max-width: 767px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 450px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 130px;
        margin-right: 90px;
    }

    header .search-bar {
        width: 100%;
        max-width: 350px;
        margin-top: 100px;
        margin-right: 17%;
        margin-left: 20%;
        align-content: center;
    
    }

    .search-bar input[type="text"] {
        padding: 5px;
        border-radius: 5px;
        border: none;
    }
   
    .logo-nav {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        padding: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
    
    .logo {
        margin-left: 0; 
        display: block;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        height: 190px;
        padding: 15px;
        align-items: center;
    }

    header nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 90px;
    margin-left: 0;
    }

    header nav ul li a {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;

    }
}


    




